<div class="automation-container container">
  <div class="row">
    <div class="col">
      <h4 class="pl-2 pt-3"><b>Automation Executions</b></h4>
    </div>
  </div>
  <div class="clear"></div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" class="border-top-0">Release</th>
        <th scope="col" class="border-top-0">Tracking</th>
        <th class="border-top-0">Date Executed</th>
        <th class="border-top-0">Status</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngIf="automation.length == 0">
      <td colspan="4">
        No Automation Executions Available.
      </td>
    </tr>
    <ng-container *ngFor="let auto of automation">
        <tr>
          <td>
            <a [routerLink]="['/auto/'+auto.guid]">{{appinfo(auto.rrf.app_id).name}} - v. {{auto.rrf.app_version}}</a>
            <br />
            <small class=""><b>Requested By</b> {{auto.rrf.requester_name}}</small>
            <br />
            <small class="blue">{{auto.rrf.project_name}}</small>
          </td>
          <td>
            <small>
              <b>Created:</b> {{auto.rrf.dt_created | date : 'medium'}}
              <br /><span [hidden]="auto.rrf.dt_reviewed === undefined"><b>Reviewed:</b> {{auto.rrf.dt_reviewed | date : 'medium'}}</span>
            </small>
          </td>
          <td>
            
          </td>
          <td>
            <small class="push-right bolder btn btn-sm" [ngClass]="{'btn-danger':auto.rrf.status==5,'btn-light':auto.rrf.status!=5}">{{rrfservice.statusText(auto.rrf.status)}}</small>
          </td>
        </tr>
    </ng-container>
    </tbody>
  </table>
</div>
