.test-case-result-list{
    background-color: #f3f3f3;
    height: 300px;
    overflow: scroll;
}

.group-table-wrapper {
    height: 300px;
    overflow: scroll;
    border: solid 1px #f1f1f1;
    padding: 3px;
}

.test-case-result-list-header {
    padding: 5px 10px;
    background-color: #e9e9e9;
}

.test-case-select-body:nth-child(odd){
    background-color: #958405;
}

.select-case {
    padding: 2px 10px;
}

.select-case .form-check {
    float: left;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 1px;
}

.select-case .case-name {
    float: left;
}