<div class="container" *ngIf="currentApplication && currentMilestone">
    <div class="milestone-edit-container">
        <h2><span *ngIf="currentMilestone.guid===undefined">Create a</span><span *ngIf="currentMilestone.guid!==undefined">Edit</span>&nbsp;<span>Milestone <br /><span class="blue smaller">[{{currentApplication.name}}]</span></span></h2>
        <div class="edit-wrap">
            <div class="row">
                <div class="col-10">
                  <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" name="milestone_name" placeholder="eg. Release 1.0 (Full Regression)" [(ngModel)]="currentMilestone.name">
                  </div>
                </div>
                <div class="col-2">
                    <div class="form-group mt-4">
                        <button class="btn btn-success push-right ml-5" type="button" (click)="savemilestone()">Save</button>
                        <button backButton class="btn btn-primary push-right" type="button">Back</button>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="tab-header-buttons">
                    <button class="btn btn-sm btn-success push-right mt-4" [hidden]="current_tab!='app-tab-runs'" [routerLink]="['/test-run/new']" [queryParams]="{application:currentMilestone.applicationId,milestone:currentMilestone.guid}" type="button">Create Test Run</button>
                    <button class="btn btn-sm btn-success push-right mt-4" [hidden]="current_tab!='app-tab-plans'" [routerLink]="['/test-plan/new']" type="button">Create Test Plan</button>
                    <button class="btn btn-sm btn-primary push-right mt-4" [hidden]="current_tab!='app-tab-cases'" (click)="editgroup(content,{})" type="button">Test Groups</button>
                    <button class="btn btn-sm btn-success push-right mt-4 mr-1" [hidden]="current_tab!='app-tab-cases'" [routerLink]="['/test-case/new:'+currentApplication.guid]" type="button">Create Test Case</button>
                </div>
                <nav>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)"
                              (click)="current_tab='app-tab-plans'"
                              [ngClass]="{'active':current_tab=='app-tab-plans'}">Test Plans</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"
                            (click)="current_tab='app-tab-runs'"
                            [ngClass]="{'active':current_tab=='app-tab-runs'}">Test Runs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"
                            (click)="current_tab='app-tab-cases'"
                            [ngClass]="{'active':current_tab=='app-tab-cases'}">Test Cases</a>
                      </li>
                    </ul>
                </nav>
                <div class="tab-content pt-3 border-top mt-3" id="app-tab-content">
                        <div class="tab pane fade" *ngIf="current_tab=='app-tab-runs'" [ngClass]="{'show active':current_tab=='app-tab-runs'}" id="nav-general" role="tabpanel">
                            <app-data-table [table]="testRunsTable"></app-data-table>
                        </div>
                        <div class="tab pane fade" *ngIf="current_tab=='app-tab-plans'" [ngClass]="{'show active':current_tab=='app-tab-plans'}" id="nav-plans" role="tabpanel">
                            <app-data-table [table]="testPlansTable"></app-data-table>
                        </div>
                        <div class="tab pane fade" *ngIf="current_tab=='app-tab-cases'" [ngClass]="{'show active':current_tab=='app-tab-cases'}" id="nav-cases" role="tabpanel">
                            <app-test-case-list [applicationId]="currentMilestone.applicationId" [milestoneId]="currentMilestone.guid"></app-test-case-list>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <pre [hidden]="1==1">{{printMilestone()}}</pre>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="currentGroup.guid !== undefined">Edit Test Group</h4>
      <h4 class="modal-title" id="modal-basic-title" *ngIf="currentGroup.guid === undefined">Create Test Group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="error">{{formerrors["tcgroup"]}}</div>
        <div class="form-group">
          <label for="program_name">Group Name</label>
          <div class="input-group">
            <input id="program_name" [readonly]="groupsaving" class="form-control" placeholder="Group Name" name="program_name" type="text" [(ngModel)]="currentGroup.name">
          </div>
        </div>
        <div class="form-group">
          <label for="program_name">Order</label>
          <div class="input-group">
            <input id="program_name" [readonly]="groupsaving" class="form-control" placeholder="Order" name="order" type="text" [(ngModel)]="currentGroup.sorder">
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="short_name">Parent</label>
          <div class="input-group">
              <select class="form-select" name="parent-group-select" *ngIf="!groupsaving" [(ngModel)]="currentGroup.parentId">
                  <option>Select a Parent (Optional)</option>
                  <ng-container [ngTemplateOutlet]="groupoptions" [ngTemplateOutletContext]="{groups:testcasegroups,prefix:'',exclude:currentGroup.guid}"></ng-container>
              </select>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <label for="short_name">Select a Group to Edit</label>
          <div class="input-group">
              <select class="form-select" name="edit-group-select" *ngIf="!groupsaving" (change)="editgroup(undefined,{'guid':_currentGroup})" [(ngModel)]="_currentGroup">
                  <option value="">Select a group...</option>
                  <ng-container [ngTemplateOutlet]="groupoptions" [ngTemplateOutletContext]="{groups:testcasegroups,prefix:'',exclude:''}"></ng-container>
              </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary pull-left" [disabled]="groupsaving" (click)="editgroup(undefined,{})">New</button>
      <button type="button" class="btn btn-success" [disabled]="groupsaving" (click)="saveGroup()">Save</button>
    </div>
  </ng-template>

<ng-template #groupoptions let-groups="groups" let-prefix="prefix" let-exclude="exclude">
    <ng-container *ngFor="let group of groups">
        <option [value]="group.guid" [disabled]="group.guid==exclude">{{prefix}}{{group.name}}</option>
        <ng-container *ngIf="group.children">
            <ng-container [ngTemplateOutlet]="groupoptions" [ngTemplateOutletContext]="{groups:group.children,prefix:prefix+' - '}"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>