<div class="rrf-container container">
  <div class="row">
    <div class="col" *ngIf="query_filter===undefined">
      <h4 class="pl-2 pt-3"><b><span class="capitalize">{{rrf_filter}}</span> RRFs</b></h4>
    </div>
    <div class="col" *ngIf="query_filter=='atrisk'">
      <h4 class="pl-2 pt-3"><b>RRFs at Risk</b></h4>
    </div>
    <div class="col" *ngIf="query_filter===undefined">
      <div class="btn-group push-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary btn-outline" (click)="filter('all')" [ngClass]="{'btn-success' : rrf_filter == 'all'}">All</button>
        <button type="button" class="btn btn-secondary" (click)="filter('reviewed')" [ngClass]="{'btn-info' : rrf_filter == 'reviewed'}">Reviewed</button>
        <button type="button" class="btn btn-secondary" (click)="filter('pending')" [ngClass]="{'btn-warning' : rrf_filter == 'pending'}">Pending</button>
        <button type="button" class="btn btn-secondary" (click)="filter('atrisk')" [ngClass]="{'btn-danger' : rrf_filter == 'atrisk'}">At Risk</button>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" class="border-top-0">Release</th>
        <th scope="col" class="border-top-0">Tracking</th>
        <th class="border-top-0"><button class="btn btn-sm btn-outline btn-success push-right mb-2 table-header-create" [hidden]="query_filter=='atrisk'" type="button" routerLink="/rrf/new">Create Release</button></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngIf="rrflist.length == 0">
      <td colspan="4">
        No Releases <span *ngIf="rrf_filter != 'all'"> matching criteria ({{rrf_filter}})</span>.
      </td>
    </tr>
    <ng-container *ngFor="let rrf of rrflist">
        <tr>
          <td>
            <a [routerLink]="['/rrf/'+rrf.guid]">{{appinfo(rrf.app_id).name}} - v. {{rrf.app_version}}</a>
            <br />
            <small class=""><b>Requested By</b> {{rrf.requester_name}}</small>
            <br />
            <small class="blue">{{rrf.project_name}}</small>
          </td>
          <td>
            <small>
              <b>Created:</b> {{rrf.dt_created | date : 'medium'}}
              <br /><span [hidden]="rrf.dt_reviewed === undefined"><b>Reviewed:</b> {{rrf.dt_reviewed | date : 'medium'}}</span>
            </small>
          </td>
          <td>
            <small class="push-right bolder btn btn-sm" [ngClass]="{'btn-danger':rrf.status==5,'btn-light':rrf.status!=5}">{{rrfservice.statusText(rrf.status)}}</small>
          </td>
        </tr>
        <tr *ngIf="query_filter=='atrisk'">
          <td colspan="3" class="border-top-0">
            <ng-container *ngFor="let log of rrf.activity_log">
              <div class="alert alert-danger" *ngIf="log.type==1">
                <small class="text-primary">{{log.dt_created | date : 'medium'}}</small><br />
                {{log.message}}
                <small *ngIf="log.type==0">
                 <br /> -- [<b>{{log.author.firstname}} {{log.author.lastname}} ({{log.author.email}})</b>]
                </small>
              </div>
            </ng-container>
          </td>
        </tr>
    </ng-container>
    </tbody>
  </table>
</div>
