<div class="container mb-5">
  <div class="rrf-find-container" *ngIf="rrfstatus == 'find'">
    <h2>Find a Release</h2>
    <form>
      <div class="input-group mb-0">
        <input type="text" class="form-control"name="release_search" [(ngModel)]="rrf_search" placeholder="Release RRF ID">
        <div class="input-group-append">
          <button class="btn btn-info" type="button" id="button-addon2" (click)="findrelease()">Find Release</button>
        </div>
      </div>
      <br />
      Enter the identifier for the RRF that you'd like to view. 
    </form>
  </div>
  <div class="rrf-edit-container" *ngIf="rrfstatus != 'find'">
    <div class="rrf-header">
      <div class="row">
        <div class="col-10">
          <h2><span *ngIf="currentRRF.status==0">Create an</span>
              <span *ngIf="currentRRF.status!=0">Edit</span> RRF</h2>
        </div>
        <div class="col-2 pt-1">
          <div class="alert alert-dark pr-0" [hidden]="currentRRF.status == 0">
            <div class="form-check form-check-inline push-right">
              <label class="form-check-label mr-3" for="release_at_risk">Release at Risk</label>
              <input class="form-check-input push-right" type="checkbox" name="release_at_risk" value="1" [(ngModel)]="currentRRF.at_risk" (click)="setrisk()">
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <form class="mt-4">
      <nav>
        <label class="btn btn-sm push-right" *ngIf="currentRRF.status != 0" 
        [ngClass]="{'btn-success':currentRRF.status==1||currentRRF.status==3,
                    'btn-info':currentRRF.status==2,
                    'btn-danger':currentRRF.status==5}">{{rrfservice.statusText(currentRRF.status)}}</label>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" 
              (click)="current_tab='rrf-tab-general'"
              [ngClass]="{'active':current_tab=='rrf-tab-general'}">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" 
              (click)="current_tab='rrf-tab-milestones'"
              [ngClass]="{'active':current_tab=='rrf-tab-milestones'}">Milestones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" 
              (click)="current_tab='rrf-tab-dependencies'"
              [ngClass]="{'active':current_tab=='rrf-tab-dependencies'}">Dependencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" 
              (click)="current_tab='rrf-tab-notes'"
              [ngClass]="{'active':current_tab=='rrf-tab-notes'}">Jiras and Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" 
              tabindex="-1" (click)="current_tab='rrf-tab-status'" 
              [ngClass]="{'active':current_tab=='rrf-tab-status','disabled':currentRRF.status==0}"
              (aria-disabled)="currentRRF.status==0">QA Status
            </a>
        </li>
        <li class="nav-item" [hidden]="currentRRF.status==0">
          <a class="nav-link" href="javascript:void(0)" 
              tabindex="-1" (click)="current_tab='rrf-tab-log'" 
              [ngClass]="{'active':current_tab=='rrf-tab-log'}">Log
            </a>
        </li>
      </ul>
      </nav>
      <div class="tab-content pt-3 border-top mt-3" id="rrf-tab-content">
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-general'" [ngClass]="{'show active':current_tab=='rrf-tab-general'}" id="nav-general" role="tabpanel">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="requester_name">Requester Name</label>
                <input type="text" class="form-control" name="requestor_name" placeholder="John Doe" [(ngModel)]="currentRRF.requester_name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="requester_email">Email address</label>
                <input type="email" class="form-control" name="requestor_email" placeholder="requester@mail.mil" [(ngModel)]="currentRRF.requester_email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="project_name">Project Name</label>
                <input type="text" class="form-control" name="project_name" placeholder="NDAA Annual Update" [(ngModel)]="currentRRF.project_name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="app_version">Version</label>
                <input type="text" class="form-control" name="app_version" placeholder="6.19" [(ngModel)]="currentRRF.app_version">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="app_select_id">Application <small><a class="" *ngIf="currentRRF.app_id" [routerLink]="['/application/view/'+currentRRF.app_id]">View</a></small></label>
            <select class="form-control" name="app_select_id" [(ngModel)]="currentRRF.app_id" (change)="updateRRFProgram($any($event.target).value)">
              <option value="">Select an Application</option>
              <option *ngFor="let app of applicationList" [value]="app.guid">{{app.name}}</option>
            </select>        
            <div class="alert alert-info mt-3" role="alert" *ngIf="currentRRF.program_id">
              <b>Program (Business Area) => </b> {{writeProgram(currentRRF.program_id).name}}
            </div>
          </div>
          <div class="form-group">
            <label for="release_type">Release Type</label>
            <select class="form-control" name="release_type" [(ngModel)]="currentRRF.release_type">
              <option value="">Select Release Type</option>
              <option value="major">Major</option>
              <option value="minor">Minor</option>
              <option value="hotfix">Hotfix</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group" *ngIf="currentRRF.release_type=='other'">
            <label for="requester_name">Other Release Type</label>
            <input type="text" class="form-control" name="release_type_other" placeholder="eg. Migration Critical" [(ngModel)]="currentRRF.release_type_other">
          </div>
        </div>
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-milestones'" [ngClass]="{'show active':current_tab=='rrf-tab-milestones'}" id="nav-milestones" role="tabpanel">
          <div class="pt-2 pb-2">
            <h5>Expected Completion Dates</h5>
          </div>
          <div class="row">
            <div class="col pt-2">
              <b>Functional Specification</b>
            </div>
            <div class="col">
              <select class="form-control" name="f_spec_req" [(ngModel)]="currentRRF.ms_fspec_req">
                <option value="1">Required</option>
                <option value="0">Not Applicable</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [disabled]="currentRRF.ms_fspec_req==0" class="form-control" name="ms_fspec_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_fspec_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Developer Integration</b>
            </div>
            <div class="col">
              <select class="form-control" name="ms_dvint_req" [(ngModel)]="currentRRF.ms_dvint_req">
                <option value="1">Required</option>
                <option value="0">Not Applicable</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [disabled]="currentRRF.ms_dvint_req==0" class="form-control" name="ms_dvint_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_dvint_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Model Office / QATST</b>
            </div>
            <div class="col">
              <select class="form-control" name="ms_modl_req" disabled>
                <option value="">Required</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="ms_modl_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_modl_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>QA Completion</b>
            </div>
            <div class="col">
              <select class="form-control" name="ms_qacmplt_req" disabled>
                <option value="">Required</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="ms_qacmplt_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_qacmplt_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Contractor Test (UAT)</b>
            </div>
            <div class="col">
              <select class="form-control" name="ms_uat_req" [(ngModel)]="currentRRF.ms_uat_req">
                <option value="1">Required</option>
                <option value="0">Not Applicable</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [disabled]="currentRRF.ms_uat_req==0" class="form-control" name="ms_uat_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_uat_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Beta Test</b>
            </div>
            <div class="col">
              <select class="form-control" name="ms_beta_req" [(ngModel)]="currentRRF.ms_beta_req">
                <option value="1">Required</option>
                <option value="0">Not Applicable</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [disabled]="currentRRF.ms_beta_req==0" class="form-control" name="ms_beta_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_beta_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Production</b>
            </div>
            <div class="col">
              <select class="form-control" name="prod_req" disabled>
                <option value="">Required</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="ms_prod_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_prod_dt">
            </div>
          </div> 
          <div class="row mt-2">
            <div class="col pt-2">
              <b>Disaster Recovery</b>
            </div>
            <div class="col">
              <select class="form-control" name="dr_req" [(ngModel)]="currentRRF.ms_disr_req">
                <option value="1">Required</option>
                <option value="0">Not Applicable</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [disabled]="currentRRF.ms_disr_req==0" class="form-control" name="ms_disr_dt" placeholder="MM/DD/YYYY" [(ngModel)]="currentRRF.ms_disr_dt">
            </div>
          </div> 
          <div class="pt-4 pb-2">
            <h5>Changes Undergoing Test</h5>
          </div>
          <div class="mt-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="chg_under_test_new" value="1" [(ngModel)]="currentRRF.chg_under_test_new">
              <label class="form-check-label" for="chg_under_test_new">New Functionality</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="chg_under_test_enh" value="1" [(ngModel)]="currentRRF.chg_under_test_enh">
              <label class="form-check-label" for="chg_under_test_enh">Enhancements</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="chg_under_test_fix" value="1" [(ngModel)]="currentRRF.chg_under_test_fix">
              <label class="form-check-label" for="chg_under_test_fix">Fixes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="chg_under_test_ltf" value="1" [(ngModel)]="currentRRF.chg_under_test_ltf">
              <label class="form-check-label" for="chg_under_test_ltf">Less Than Full Regression</label>
            </div>
          </div>
          <div class="pt-4 pb-2">
            <h5>Are the project dates flexible?</h5>
          </div>
          <div class="mt-1">
            <select class="form-control" name="pd_flex" [(ngModel)]="currentRRF.project_dates_flex">
              <option value="-1">Select an Option</option>
              <option value="1">Yes, they are flexible</option>
              <option value="0">No, they are not flexible</option>
            </select>
          </div>
          <div class="mt-2" [hidden]="currentRRF.project_dates_flex!=0">
            <textarea class="form-control" rows="4" name="project_dates_flex_desc" [(ngModel)]="currentRRF.project_dates_flex_desc" placeholder="Please describe the justification"></textarea>
          </div>
        </div>
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-dependencies'" [ngClass]="{'show active':current_tab=='rrf-tab-dependencies'}" id="nav-dependencies" role="tabpanel">

          <div class="pt-2 pb-2">
            <h5>URLs for Key Documents</h5>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Requirements URL</span>
            </div>
            <input type="text" class="form-control" name="dep_req_url" [(ngModel)]="currentRRF.dep_req_url" placeholder="Sharepoint Link" aria-label="Sharepoint Link">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Specification URL</span>
            </div>
            <input type="text" class="form-control" name="dep_spec_url" [(ngModel)]="currentRRF.dep_spec_url" placeholder="Sharepoint Link" aria-label="Sharepoint Link">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">RTM URL</span>
            </div>
            <input type="text" class="form-control" name="dep_rtm_url" [(ngModel)]="currentRRF.dep_rtm_url" placeholder="Sharepoint Link" aria-label="Sharepoint Link">
          </div>
          
          <div class="pt-3 pb-2">
            <h5>Do other apps require regression testing?</h5>
          </div>
          <div class="mt-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_other_app_test_yes" value="1" [(ngModel)]="currentRRF.dep_other_app_test">
              <label class="form-check-label" for="dep_other_app_test_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_other_app_test_no" value="0" [(ngModel)]="currentRRF.dep_other_app_test">
              <label class="form-check-label" for="dep_other_app_test_no">No</label>
            </div>
          </div>

          <div class="pt-4 pb-2">
            <h5>Are there other dependencies requiring regression testing?</h5>
          </div>
          <div class="mt-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_other_app_dependencies" value="1" [(ngModel)]="currentRRF.dep_other_app_dependencies">
              <label class="form-check-label" for="dep_other_app_dependencies_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_other_app_dependencies" value="0" [(ngModel)]="currentRRF.dep_other_app_dependencies">
              <label class="form-check-label" for="dep_other_app_dependencies_no">No</label>
            </div>
          </div>
          <div class="mt-2" [hidden]="currentRRF.dep_other_app_dependencies!=1">
            <textarea class="form-control" name="dep_other_app_desc" rows="4" [(ngModel)]="currentRRF.dep_other_app_desc" placeholder="Please list the triggers, procedures, packages, etc. which must be included during regression testing (separated by commas)"></textarea>
          </div>
          

          <div class="pt-4 pb-2">
            <h5>What is the risk level for the release request?</h5>
          </div>
          <div class="mt-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_risk_level" value="2" [(ngModel)]="currentRRF.dep_risk_level">
              <label class="form-check-label" for="dep_risk_level_high">High</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_risk_level" value="1" [(ngModel)]="currentRRF.dep_risk_level">
              <label class="form-check-label" for="dep_risk_level_medium">Medium</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_risk_level" value="0" [(ngModel)]="currentRRF.dep_risk_level">
              <label class="form-check-label" for="dep_risk_level_low">Low</label>
            </div>
          </div>
          <div class="mt-2" [hidden]="currentRRF.dep_risk_level!=2">
            <textarea class="form-control" name="dep_risk_level_desc" rows="4" [(ngModel)]="currentRRF.dep_risk_level_desc" placeholder="Please provide an explanation for the risk determination"></textarea>
          </div>


          <div class="pt-4 pb-2">
            <h5>What is the priority level for the release request?</h5>
          </div>
          <div class="mt-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_priority_level" value="2" [(ngModel)]="currentRRF.dep_priority_level">
              <label class="form-check-label" for="dep_priority_level_high">High</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_priority_level" value="1" [(ngModel)]="currentRRF.dep_priority_level">
              <label class="form-check-label" for="dep_priority_level_medium">Medium</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="dep_priority_level" value="0" [(ngModel)]="currentRRF.dep_priority_level">
              <label class="form-check-label" for="dep_priority_level_low">Low</label>
            </div>
          </div>
          <div class="mt-2" [hidden]="currentRRF.dep_priority_level!=2">
            <textarea class="form-control" name="dep_priority_level_desc" rows="4" [(ngModel)]="currentRRF.dep_priority_level_desc" placeholder="Please provide an explanation for the priority determination"></textarea>
          </div>

        </div>
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-notes'" [ngClass]="{'show active':current_tab=='rrf-tab-notes'}" id="nav-notes" role="tabpanel">

          <div class="pt-2 pb-2">
            <h5>Jiras Implemented</h5>
          </div>
          <div class="input-group mb-2" *ngFor="let jira of currentRRF.jira_list; let idx = index; trackBy: util.arrayTrackBy">
            <div class="input-group-prepend">
              <span class="input-group-text">JIRA Link</span>
            </div>
            <input type="text" class="form-control" name="dep_req_url_{{idx}}" [(ngModel)]="currentRRF.jira_list[idx]" placeholder="https://jira.int.dmdc.osd.mil/path/to/url">
            <div class="input-group-append" *ngIf="idx > 0">
              <button class="btn btn-danger" type="button" (click)="util.removeFromList(currentRRF.jira_list,idx)"><b>X</b></button>
            </div>
          </div>
          <div class="">
            <button type="button" class="btn btn-success btn-sm mt-1" (click)="currentRRF.jira_list.push('')">Add New</button>
          </div>

          <div class="pt-4 pb-1">
            <h5>Comments</h5>
          </div>
          <div class="mt-1">
            <textarea class="form-control" name="comments" rows="4" [(ngModel)]="currentRRF.comments" placeholder="Provide any additional comments to be included with this request"></textarea>
          </div>

          <button class="push-right pull-right mt-2 mb-3 btn btn-success btn-sm" type="button" (click)="currentRRF.validate()">Submit</button>
          <div class="clear"></div>
        </div>
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-status'" [ngClass]="{'show active':current_tab=='rrf-tab-status'}" id="nav-status" role="tabpanel">

          <div class="form-group">
            <span>Estimated Level of Effort (LOE)</span>
            <div class="row mt-2">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Automation Development</span>
                  </div>
                  <input type="number" aria-label="Automation Development" name="loe_automation" class="form-control" [(ngModel)]="currentRRF.loe_automation">
                  <div class="input-group-append" id="button-addon4">
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_automation_unit=='h','btn-outline-secondary':currentRRF.loe_automation_unit!='h'}" type="button" (click)="currentRRF.loe_automation_unit='h'">Hours</button>
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_automation_unit=='d','btn-outline-secondary':currentRRF.loe_automation_unit!='d'}" type="button" (click)="currentRRF.loe_automation_unit='d'">Days</button>
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_automation_unit=='w','btn-outline-secondary':currentRRF.loe_automation_unit!='w'}" type="button" (click)="currentRRF.loe_automation_unit='w'">Weeks</button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Manual Testing</span>
                  </div>
                  <input type="number" aria-label="Manual Testing" name="loe_manual" class="form-control" [(ngModel)]="currentRRF.loe_manual">
                  <div class="input-group-append" id="button-addon4">
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_manual_unit=='h','btn-outline-secondary':currentRRF.loe_manual_unit!='h'}" type="button" (click)="currentRRF.loe_manual_unit='h'">Hours</button>
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_manual_unit=='d','btn-outline-secondary':currentRRF.loe_manual_unit!='d'}" type="button" (click)="currentRRF.loe_manual_unit='d'">Days</button>
                    <button class="btn" [ngClass]="{'btn-primary':currentRRF.loe_manual_unit=='w','btn-outline-secondary':currentRRF.loe_manual_unit!='w'}" type="button" (click)="currentRRF.loe_manual_unit='w'">Weeks</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-2 pb-2">
            <span>QA Team Members Assigned</span>
          </div>
          <div class="input-group mb-2" *ngFor="let p of currentRRF.team_list; let idx = index; trackBy: util.arrayTrackBy">
            <div class="input-group-prepend">
              <span class="input-group-text"><small>{{personsvc.printroles(person(p)!.roles)}}</small></span>
            </div>
            <input type="text" class="form-control" disabled style="background-color: #fff" name="qa_team_{{idx}}" value="{{person(p)!.firstname}} {{person(p)!.lastname}}">
            <div class="input-group-append">
              <button class="btn btn-danger" type="button" (click)="util.removeFromList(currentRRF.team_list,idx)"><b>X</b></button>
            </div>
          </div>
          <div class="alert alert-info" [ngClass]="{'mt-4':currentRRF.team_list.length > 0}">
            <div class="form-group">
              <label for="prog_select_id"><b>Team Members</b></label>
              <select class="form-control" name="person_select_id" [(ngModel)]="team_select">
                <option value="">Select an Team Member</option>
                <option *ngFor="let person of personlist" [value]="person.guid">{{person.firstname}} {{person.lastname}} ({{personsvc.printroles(person.roles)}})</option>
              </select> 
              <div class="recommended_resources mt-2" [hidden]="recommendedResources().length == 0">
                <small class="pull-left"><b>Recommendations:</b> &nbsp;</small>
                <a href="javascript:void(0)" (click)="team_select=r.guid;addPersonToRelease();" *ngFor="let r of recommendedResources()">
                  <small class="pull-left">
                  {{r.firstname}} {{r.lastname}}
                 </small>
                </a>
                <div class="clear"></div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-sm mt-0" (click)="addPersonToRelease()">Assign to Release</button>
          </div>

          <div class="pt-4 pb-1">
            <span>Comments</span>
          </div>
          <div class="mt-1">
            <textarea class="form-control" name="comments" rows="4" [(ngModel)]="currentRRF.qa_comments" placeholder="Provide QA management comments regarding release..."></textarea>
          </div>

        </div>
        <div class="tab pane fade show active" *ngIf="current_tab=='rrf-tab-log'" [ngClass]="{'show active':current_tab=='rrf-tab-log'}" id="nav-log" role="tabpanel">

          <div class="form-group">
            <span>Activity Log</span>
            <div class="row mt-3">
              <div class="col-12" *ngFor="let log of currentRRF.activity_log">
                  <div class="alert" [ngClass]="{'alert-info':log.type==0,'alert-danger':log.type==1,'alert-warning':log.type==2}">
                    <small class="text-primary">{{log.dt_created | date : 'medium'}}</small><br />
                    {{log.message}}
                    <small *ngIf="log.type==0">
                     <br /> -- [<b>{{log.author.firstname}} {{log.author.lastname}} ({{log.author.email}})</b>]
                    </small>
                  </div>
              </div>
              <div class="col-12" *ngIf="currentRRF.activity_log===undefined || currentRRF.activity_log.length == 0">
                <div class="alert alert-primary">
                  No activity associated with this release 
                </div>
              </div>
            </div>
          </div>

          <div class="mt-1">
            <textarea class="form-control" name="comments" rows="4" placeholder="Add a comment for the log..." [(ngModel)]="activity_log_entry"></textarea>
            <button class="btn btn-sm btn-primary mt-2" (click)="addlog()" type="button">Save Comment</button>
            <div class="form-check form-check-inline push-right mt-3">
              <label class="form-check-label mr-3" for="activity_log_entry_problem">Log as Problem</label>
              <input class="form-check-input push-right" type="checkbox" name="activity_log_entry_problem" value="1" [(ngModel)]="activity_log_entry_problem">
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>
    </form>
    <pre class="alert alert-dark mt-5" [hidden]="1==1">{{printRRF()}}</pre>
  </div>
</div>